<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<configSections>
		<!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
		<section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
	</configSections>
	<appSettings>
		<add key="ValidityDaysForAllCommodities" value="60" />
	</appSettings>
	<connectionStrings>
		
  </connectionStrings>
	<system.web>
		<compilation debug="true" targetFramework="4.5">
			<assemblies>
				<add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
				<add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
				<add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
			</assemblies>
		</compilation>
		<httpRuntime targetFramework="4.5" />
		<pages>
			<namespaces>
				<add namespace="System.Web.Optimization" />
			</namespaces>
			<controls>
				<add assembly="Microsoft.AspNet.Web.Optimization.WebForms" namespace="Microsoft.AspNet.Web.Optimization.WebForms" tagPrefix="webopt" />
				<add tagPrefix="ajaxToolkit" assembly="AjaxControlToolkit" namespace="AjaxControlToolkit" />
			</controls>
		</pages>
    
		<authentication mode="Forms">
     
			<forms loginUrl="~/Login.aspx" timeout="2880" />
		</authentication>
		<authorization>
      
			<deny users="?" />
			<!--<allow users="*"/>-->
		</authorization>
		<profile defaultProvider="DefaultProfileProvider">
			<providers>
				<add name="DefaultProfileProvider" type="System.Web.Providers.DefaultProfileProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" applicationName="/" />
			</providers>
		</profile>
		<membership defaultProvider="DefaultMembershipProvider">
			<providers>
				<add name="DefaultMembershipProvider" type="System.Web.Providers.DefaultMembershipProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/" />
			</providers>
		</membership>
		<roleManager defaultProvider="DefaultRoleProvider">
			<providers>
				<add name="DefaultRoleProvider" type="System.Web.Providers.DefaultRoleProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" applicationName="/" />
			</providers>
		</roleManager>
		<!--
            If you are deploying to a cloud environment that has multiple web server instances,
            you should change session state mode from "InProc" to "Custom". In addition,
            change the connection string named "DefaultConnection" to connect to an instance
            of SQL Server (including SQL Azure and SQL  Compact) instead of to SQL Server Express.
      -->
		<sessionState mode="InProc" customProvider="DefaultSessionProvider" timeout="20">
			<providers>
				<add name="DefaultSessionProvider" type="System.Web.Providers.DefaultSessionStateProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" />
			</providers>
		</sessionState>

    <!--<customErrors mode ="On" >    
      <error statusCode="404" redirect="Default.aspx"/>
      --><!--TODO: Create organized error page--><!--
    </customErrors>-->
	</system.web>
    <location path="Images">
    <system.web>
        <authorization>
            <allow users="*" />
        </authorization>
    </system.web>
</location>
  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="9999999" />
      </webServices>
    </scripting>
  </system.web.extensions>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="DotNetOpenAuth.Core" publicKeyToken="2780ccd10d57b246" />
				<bindingRedirect oldVersion="1.0.0.0-4.0.0.0" newVersion="4.1.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="DotNetOpenAuth.AspNet" publicKeyToken="2780ccd10d57b246" />
				<bindingRedirect oldVersion="0.0.0.0-4.1.0.0" newVersion="4.1.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-2.0.2.0" newVersion="2.0.2.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-2.0.2.0" newVersion="2.0.2.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
	<entityFramework>
		<defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
	</entityFramework>
	<system.serviceModel>
		<behaviors>
			<endpointBehaviors>
				<behavior name="webHttpBehavior">
					<webHttp/>
				</behavior>
			</endpointBehaviors>
		</behaviors>
		<bindings>
   <basicHttpBinding>
    <binding name="BasicHttpBinding_ILookupService" maxBufferSize="1048576" maxReceivedMessageSize="1048576" />
    <binding name="BasicHttpBinding_IMembership" maxBufferSize="1048576" maxReceivedMessageSize="1048576" />
    <binding name="BasicHttpBinding_ICDService" maxBufferSize="1048576" maxReceivedMessageSize="1048576" />
    <binding name="BasicHttpBinding_ICNSService" maxBufferSize="1048576" maxReceivedMessageSize="1048576" />
    <binding name="BasicHttpBinding_IInstruction_scv" maxBufferSize="1048576" maxReceivedMessageSize="1048576" />
    <binding name="BasicHttpBinding_INotification" maxBufferSize="1048576" maxReceivedMessageSize="1048576" />
    <binding name="BasicHttpBinding_IMarketWatch"  maxReceivedMessageSize="10000000"  />
    <binding name="BasicHttpBinding_ISessionService" maxBufferSize="1048576" maxReceivedMessageSize="1048576" />
    <binding name="BasicHttpBinding_IOrder_svc" maxBufferSize="1048576" maxReceivedMessageSize="1048576" />
    <binding name="BasicHttpBinding_IITradeHistorySvc" maxBufferSize="10982079" maxReceivedMessageSize="10982079" sendTimeout="00:05:00"  />
    <binding name="BasicHttpBinding_ILoginDataService" maxBufferSize="1048576"  maxReceivedMessageSize="1048576" />
    <binding name="BasicHttpBinding_IMarketWatch1" maxBufferSize="1048576" maxReceivedMessageSize="1048576" />
    <binding name="BasicHttpBinding_ISessionService1" maxBufferSize="1048576" maxReceivedMessageSize="1048576" />
	   <binding name="BasicHttpBinding_IInternationalPriceSvc" maxBufferSize="1048576" maxReceivedMessageSize="1048576" />
   </basicHttpBinding>
  </bindings>
		<client>
   <endpoint address="http://10.1.17.22/ExternalInterface/Membership.svc" binding="basicHttpBinding"
    bindingConfiguration="BasicHttpBinding_IMembership" contract="MembershipServiceReference.IMembership"
    name="BasicHttpBinding_IMembership" />
   <endpoint address="http://10.1.17.22/ExternalInterface/LookupService.svc/lookup"
    binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ILookupService"
    contract="LookupServiceBL.ILookupService" name="BasicHttpBinding_ILookupService_Endpoint" />
   <endpoint address="http://10.1.17.22/ExternalInterface/CDService.svc/cd" binding="basicHttpBinding"
    bindingConfiguration="BasicHttpBinding_ICDService" contract="CDServiceBL.ICDService"
    name="BasicHttpBinding_ICDService" />
   <endpoint address="http://10.1.17.22/ExternalInterface/CNSService.svc/cns"
    binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICNSService"
    contract="CNSServiceBL.ICNSService" name="BasicHttpBinding_ICNSService" />
   <endpoint address="http://10.1.17.22/ServiceLayer/Order_svc.svc" binding="basicHttpBinding"
    bindingConfiguration="BasicHttpBinding_IOrder_svc" contract="OrderService.IOrder_svc"
    name="BasicHttpBinding_IOrder_svc" />
   <endpoint address="http://10.1.17.22/ServiceLayer/ITradeHistorySvc.svc"
    binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IITradeHistorySvc"
    contract="TradeHistoryServiceRef.IITradeHistorySvc" name="BasicHttpBinding_IITradeHistorySvc" />
   <endpoint address="http://10.1.17.22/ServiceLayer/LoginDataService.svc"
    binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ILoginDataService"
    contract="LoginServiceReference.ILoginDataService" name="BasicHttpBinding_ILoginDataService" />
   <endpoint address="http://10.1.17.22/ServiceLayer/Instruction_scv.svc"
    binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IInstruction_scv"
    contract="InstructionServiceReference_IInstruction_scv" name="BasicHttpBinding_IInstruction_scv" />
   <endpoint address="http://10.1.17.22/ServiceLayer/SessionManager/SessionService.svc"
    binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ISessionService1"
    contract="SessionServiceReference.ISessionService" name="BasicHttpBinding_ISessionService" />
   <endpoint address="http://10.1.17.22/ServiceLayer/MarketWatch.svc" binding="basicHttpBinding"
    bindingConfiguration="BasicHttpBinding_IMarketWatch" contract="ECXMarketWatch_svc.IMarketWatch"
    name="BasicHttpBinding_IMarketWatch" />
		<endpoint address="http://10.1.17.22/ExternalInterface/InternationalPriceSvc.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IInternationalPriceSvc"
        contract="InternationalPriceServiceReference.IInternationalPriceSvc"
        name="BasicHttpBinding_IInternationalPriceSvc" />
  </client>
	</system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"></modules>    
  </system.webServer>
</configuration>