/*Created with Adobe RoboHelp 8.*/
/* Style Sheet created by ImportDoc 13.0 */p {
	margin-top: 0in;
	margin-right: 0in;
	margin-bottom: 10.0pt;
	margin-left: 0in;
	line-height: 115%;
	font-size: 11.0pt;
	font-family: Calibri, sans-serif;
}
h1 {
	margin-top: 24.0pt;
	margin-right: 0in;
	margin-bottom: .0001pt;
	margin-left: .3in;
	text-indent: -.3in;
	line-height: 115%;
	font-size: 14.0pt;
	font-family: Cambria, serif;
	font-weight: bold;
	x-next-class: ;
	x-next-type: p;
	color: #008000;
}
h2 {
	margin-top: 10.0pt;
	margin-right: 0in;
	margin-bottom: .0001pt;
	margin-left: .4in;
	text-indent: -.4in;
	line-height: 115%;
	font-size: 13.0pt;
	font-weight: bold;
	color: #008000;
	x-next-class: ;
	x-next-type: p;
	font-family: "Baskerville Old Face";
}
h3 {
	margin-top: 10.0pt;
	margin-right: 0in;
	margin-bottom: .0001pt;
	margin-left: .5in;
	text-indent: -.5in;
	line-height: 115%;
	font-size: 11.0pt;
	font-weight: bold;
	color: #008000;
	x-next-class: ;
	x-next-type: p;
	font-family: "Baskerville Old Face";
}
h4 {
	margin-top: 10.0pt;
	margin-right: 0in;
	margin-bottom: .0001pt;
	margin-left: .6in;
	text-indent: -.6in;
	line-height: 115%;
	font-size: 11.0pt;
	font-family: Cambria, serif;
	color: #4F81BD;
	font-style: italic;
	font-weight: bold;
}
h5 {
	margin-top: 10.0pt;
	margin-right: 0in;
	margin-bottom: .0001pt;
	margin-left: .7in;
	text-indent: -.7in;
	line-height: 115%;
	font-size: 11.0pt;
	font-family: Cambria, serif;
	color: #243F60;
	font-weight: normal;
}
h6 {
	margin-top: 10.0pt;
	margin-right: 0in;
	margin-bottom: .0001pt;
	margin-left: .8in;
	text-indent: -.8in;
	line-height: 115%;
	font-size: 11.0pt;
	font-family: Cambria, serif;
	color: #243F60;
	font-weight: normal;
	font-style: italic;
}
p.Heading7 {
	margin-top: 10.0pt;
	margin-right: 0in;
	margin-bottom: .0001pt;
	margin-left: .9in;
	text-indent: -.9in;
	line-height: 115%;
	font-size: 11.0pt;
	font-family: Cambria, serif;
	color: #404040;
	font-style: italic;
}
p.Heading8 {
	margin-top: 10.0pt;
	margin-right: 0in;
	margin-bottom: .0001pt;
	margin-left: 1.0in;
	text-indent: -1.0in;
	line-height: 115%;
	font-size: 10.0pt;
	font-family: Cambria, serif;
	color: #404040;
}
p.Heading9 {
	margin-top: 10.0pt;
	margin-right: 0in;
	margin-bottom: .0001pt;
	margin-left: 1.1in;
	text-indent: -1.1in;
	line-height: 115%;
	font-size: 10.0pt;
	font-family: Cambria, serif;
	color: #404040;
	font-style: italic;
}
p.Toc1 {
	margin-top: 6.0pt;
	margin-right: 0in;
	margin-bottom: 6.0pt;
	margin-left: 0in;
	line-height: 115%;
	font-size: 10.0pt;
	font-family: Calibri, sans-serif;
	text-transform: uppercase;
	font-weight: bold;
}
p.Toc2 {
	margin-top: 0in;
	margin-right: 0in;
	margin-bottom: .0001pt;
	margin-left: 11.0pt;
	line-height: 115%;
	font-size: 10.0pt;
	font-family: Calibri, sans-serif;
	font-variant: small-caps;
}
p.Toc3 {
	margin-top: 0in;
	margin-right: 0in;
	margin-bottom: .0001pt;
	margin-left: 22.0pt;
	line-height: 115%;
	font-size: 10.0pt;
	font-family: Calibri, sans-serif;
	font-style: italic;
}
p.Toc4 {
	margin-top: 0in;
	margin-right: 0in;
	margin-bottom: .0001pt;
	margin-left: 33.0pt;
	line-height: 115%;
	font-size: 9.0pt;
	font-family: Calibri, sans-serif;
}
p.Toc5 {
	margin-top: 0in;
	margin-right: 0in;
	margin-bottom: .0001pt;
	margin-left: 44.0pt;
	line-height: 115%;
	font-size: 9.0pt;
	font-family: Calibri, sans-serif;
}
p.Toc6 {
	margin-top: 0in;
	margin-right: 0in;
	margin-bottom: .0001pt;
	margin-left: 55.0pt;
	line-height: 115%;
	font-size: 9.0pt;
	font-family: Calibri, sans-serif;
}
p.Toc7 {
	margin-top: 0in;
	margin-right: 0in;
	margin-bottom: .0001pt;
	margin-left: 66.0pt;
	line-height: 115%;
	font-size: 9.0pt;
	font-family: Calibri, sans-serif;
}
p.Toc8 {
	margin-top: 0in;
	margin-right: 0in;
	margin-bottom: .0001pt;
	margin-left: 77.0pt;
	line-height: 115%;
	font-size: 9.0pt;
	font-family: Calibri, sans-serif;
}
p.Toc9 {
	margin-top: 0in;
	margin-right: 0in;
	margin-bottom: .0001pt;
	margin-left: 88.0pt;
	line-height: 115%;
	font-size: 9.0pt;
	font-family: Calibri, sans-serif;
}
p.Header {
	margin: 0in;
	margin-bottom: .0001pt;
	font-size: 11.0pt;
	font-family: Calibri, sans-serif;
}
p.Footer {
	margin: 0in;
	margin-bottom: .0001pt;
	font-size: 11.0pt;
	font-family: Calibri, sans-serif;
}
span.Hyperlink {
	color: #0000ff;
	text-underline: single;text-decoration: underline;
}
span.HyperlinkFollowed {
	color: #800080;
	text-underline: single;text-decoration: underline;
}
p.Acetate {
	margin: 0in;
	margin-bottom: .0001pt;
	font-size: 8.0pt;
	font-family: Tahoma, sans-serif;
}
p.NoSpacing {
	margin: 0in;
	margin-bottom: .0001pt;
	font-size: 11.0pt;
	font-family: Calibri, sans-serif;
}
p.ListParagraph {
	margin-top: 0in;
	margin-right: 0in;
	margin-bottom: 10.0pt;
	margin-left: .5in;
	line-height: 115%;
	font-size: 11.0pt;
	font-family: Calibri, sans-serif;
}
p.ListParagraphCxSpFirst {
	margin-top: 0in;
	margin-right: 0in;
	margin-bottom: .0001pt;
	margin-left: .5in;
	line-height: 115%;
	font-size: 11.0pt;
	font-family: Calibri, sans-serif;
}
p.ListParagraphCxSpMiddle {
	margin-top: 0in;
	margin-right: 0in;
	margin-bottom: .0001pt;
	margin-left: .5in;
	line-height: 115%;
	font-size: 11.0pt;
	font-family: Calibri, sans-serif;
}
p.ListParagraphCxSpLast {
	margin-top: 0in;
	margin-right: 0in;
	margin-bottom: 10.0pt;
	margin-left: .5in;
	line-height: 115%;
	font-size: 11.0pt;
	font-family: Calibri, sans-serif;
}
p.TocHeading {
	margin-top: 24.0pt;
	margin-right: 0in;
	margin-bottom: .0001pt;
	margin-left: .3in;
	text-indent: -.3in;
	line-height: 115%;
	font-size: 14.0pt;
	font-family: Cambria, serif;
	color: #365F91;
	font-weight: bold;
}
span.Heading1Char {
	font-family: Cambria, serif;
	color: #365F91;
	font-weight: bold;
}
span.BalloonTextChar {
	font-family: Tahoma, sans-serif;
}
span.NoSpacingChar {
	font-family: "Times New Roman", serif;
}
span.Heading2Char {
	font-family: Cambria, serif;
	color: #4F81BD;
	font-weight: bold;
}
span.Heading3Char {
	font-family: Cambria, serif;
	color: #4F81BD;
	font-weight: bold;
}
span.Heading4Char {
	font-family: Cambria, serif;
	color: #4F81BD;
	font-weight: bold;
	font-style: italic;
}
span.Heading5Char {
	font-family: Cambria, serif;
	color: #243F60;
}
span.Heading6Char {
	font-family: Cambria, serif;
	color: #243F60;
	font-style: italic;
}
span.Heading7Char {
	font-family: Cambria, serif;
	color: #404040;
	font-style: italic;
}
span.Heading8Char {
	font-family: Cambria, serif;
	color: #404040;
}
span.Heading9Char {
	font-family: Cambria, serif;
	color: #404040;
	font-style: italic;
}
p.Default {
	margin: 0in;
	margin-bottom: .0001pt;
	text-autospace: none;
	font-size: 12.0pt;
	font-family: "Bookman Old Style", serif;
	color: #000000;
}
OL {
	margin-top: 0px;
	margin-bottom: 0px;
}
UL {
	margin-top: 0px;
	margin-bottom: 0px;
}
rh-list.MSWordList15 {
	x-level-count: 1;
	x-lvl-1-text-indent: -24px;
	x-lvl-1-margin: 120px;
	x-lvl-1-type: bullet001;
	x-lvl-1-format: "<x>";
}
rh-list.MSWordList14 {
	x-level-count: 1;
	x-lvl-1-text-indent: -24px;
	x-lvl-1-type: bullet002;
	x-lvl-1-format: "<x>";
}
rh-list.MSWordList13 {
	x-level-count: 1;
	x-lvl-1-text-indent: -24px;
	x-lvl-1-margin: 96px;
	x-lvl-1-type: bullet001;
	x-lvl-1-format: "<x>";
}
rh-list.MSWordList12 {
	x-level-count: 1;
	x-lvl-1-text-indent: -24px;
	x-lvl-1-type: decimal;
	x-lvl-1-format: "<x>.";
}
rh-list.MSWordList11 {
	x-level-count: 3;
	x-lvl-1-text-indent: -24px;
	x-lvl-1-type: decimal;
	x-lvl-1-format: "<x>.";
	x-lvl-2-format: "<x>.";
	x-lvl-2-text-indent: -24px;
	x-lvl-2-type: lower-alpha;
	x-lvl-3-format: "<x>";
	x-lvl-3-text-indent: -12px;
	x-lvl-3-type: bullet002;
}
rh-list.MSWordList10 {
	x-level-count: 2;
	x-lvl-1-text-indent: -24px;
	x-lvl-1-margin: 96px;
	x-lvl-1-type: lower-alpha;
	x-lvl-1-format: "<x>.";
	x-lvl-2-format: "<x>.";
	x-lvl-2-text-indent: -24px;
	x-lvl-2-type: lower-alpha;
	x-lvl-2-margin: 144px;
}
rh-list.MSWordList9 {
	x-level-count: 1;
	x-lvl-1-text-indent: -24px;
	x-lvl-1-margin: 120px;
	x-lvl-1-type: bullet001;
	x-lvl-1-format: "<x>";
}
rh-list.MSWordList8 {
	x-level-count: 2;
	x-lvl-1-text-indent: -24px;
	x-lvl-1-margin: 96px;
	x-lvl-1-type: lower-alpha;
	x-lvl-1-format: "<x>.";
	x-lvl-2-format: "<x>.";
	x-lvl-2-text-indent: -24px;
	x-lvl-2-type: lower-alpha;
	x-lvl-2-margin: 144px;
}
rh-list.MSWordList7 {
	x-level-count: 1;
	x-lvl-1-text-indent: -24px;
	x-lvl-1-type: decimal;
	x-lvl-1-format: "<x>.";
}
rh-list.MSWordList6 {
	x-level-count: 2;
	x-lvl-1-text-indent: -24px;
	x-lvl-1-margin: 96px;
	x-lvl-1-type: lower-alpha;
	x-lvl-1-format: "<x>.";
	x-lvl-2-format: "<x>.";
	x-lvl-2-text-indent: -24px;
	x-lvl-2-type: lower-alpha;
	x-lvl-2-margin: 144px;
}
rh-list.MSWordList5 {
	x-level-count: 3;
	x-lvl-1-text-indent: -24px;
	x-lvl-1-type: decimal;
	x-lvl-1-format: "<x>.";
	x-lvl-2-format: "<x>.";
	x-lvl-2-text-indent: -24px;
	x-lvl-2-type: lower-alpha;
	x-lvl-3-format: "<x>";
	x-lvl-3-text-indent: -12px;
	x-lvl-3-type: bullet002;
}
rh-list.MSWordList4 {
	x-level-count: 1;
	x-lvl-1-text-indent: -24px;
	x-lvl-1-margin: 96px;
	x-lvl-1-type: bullet001;
	x-lvl-1-format: "<x>";
}
rh-list.MSWordList3 {
	x-level-count: 1;
	x-lvl-1-text-indent: -24px;
	x-lvl-1-type: bullet002;
	x-lvl-1-format: "<x>";
}
rh-list.MSWordList2 {
	x-level-count: 9;
	x-lvl-1-text-indent: -28px;
	x-lvl-1-margin: 28px;
	x-lvl-1-type: decimal;
	x-lvl-1-format: "<x>";
	x-lvl-2-format: "<1>.<x>";
	x-lvl-2-text-indent: -38px;
	x-lvl-2-type: decimal;
	x-lvl-2-margin: 38px;
	x-lvl-3-margin: 48px;
	x-lvl-3-format: "<1>.<2>.<x>";
	x-lvl-3-text-indent: -48px;
	x-lvl-3-type: decimal;
	x-lvl-4-format: "<1>.<2>.<3>.<x>";
	x-lvl-4-text-indent: -57px;
	x-lvl-4-margin: 57px;
	x-lvl-4-type: decimal;
	x-lvl-5-format: "<1>.<2>.<3>.<4>.<x>";
	x-lvl-5-text-indent: -67px;
	x-lvl-5-type: decimal;
	x-lvl-5-margin: 67px;
	x-lvl-6-margin: 76px;
	x-lvl-6-type: decimal;
	x-lvl-6-format: "<1>.<2>.<3>.<4>.<5>.<x>";
	x-lvl-6-text-indent: -76px;
	x-lvl-7-format: "<1>.<2>.<3>.<4>.<5>.<6>.<x>";
	x-lvl-7-text-indent: -86px;
	x-lvl-7-type: decimal;
	x-lvl-7-margin: 86px;
	x-lvl-8-margin: 96px;
	x-lvl-8-format: "<1>.<2>.<3>.<4>.<5>.<6>.<7>.<x>";
	x-lvl-8-text-indent: -96px;
	x-lvl-8-type: decimal;
	x-lvl-9-margin: 105px;
	x-lvl-9-type: decimal;
	x-lvl-9-text-indent: -105px;
	x-lvl-9-format: "<1>.<2>.<3>.<4>.<5>.<6>.<7>.<8>.<x>";
}
rh-list.MSWordList1 {
	x-level-count: 1;
	x-lvl-1-text-indent: -24px;
	x-lvl-1-type: decimal;
	x-lvl-1-format: "<x>.";
}
rh-list.MSWordList0 {
	x-level-count: 1;
	x-lvl-1-text-indent: -24px;
	x-lvl-1-type: bullet002;
	x-lvl-1-format: "<x>";
}
rh-list.MSWordList31 {
	x-level-count: 1;
	x-lvl-1-text-indent: -24px;
	x-lvl-1-type: lower-alpha;
	x-lvl-1-format: "<x>.";
}
rh-list.MSWordList30 {
	x-level-count: 1;
	x-lvl-1-text-indent: -24px;
	x-lvl-1-type: decimal;
	x-lvl-1-format: "<x>.";
}
rh-list.MSWordList29 {
	x-level-count: 1;
	x-lvl-1-text-indent: -24px;
	x-lvl-1-type: bullet002;
	x-lvl-1-format: "<x>";
}
rh-list.MSWordList28 {
	x-level-count: 1;
	x-lvl-1-text-indent: -24px;
	x-lvl-1-margin: 72px;
	x-lvl-1-type: bullet003;
	x-lvl-1-format: "<x>";
}
rh-list.MSWordList27 {
	x-level-count: 1;
	x-lvl-1-text-indent: -24px;
	x-lvl-1-margin: 120px;
	x-lvl-1-type: bullet001;
	x-lvl-1-format: "<x>";
}
rh-list.MSWordList26 {
	x-level-count: 1;
	x-lvl-1-text-indent: -24px;
	x-lvl-1-margin: 120px;
	x-lvl-1-type: bullet002;
	x-lvl-1-format: "<x>";
}
rh-list.MSWordList25 {
	x-level-count: 1;
	x-lvl-1-text-indent: -24px;
	x-lvl-1-margin: 144px;
	x-lvl-1-type: bullet001;
	x-lvl-1-format: "<x>";
}
rh-list.MSWordList24 {
	x-level-count: 3;
	x-lvl-1-text-indent: -24px;
	x-lvl-1-type: bullet002;
	x-lvl-1-format: "<x>";
	x-lvl-2-format: "<x>";
	x-lvl-2-text-indent: -24px;
	x-lvl-2-type: bullet004;
	x-lvl-3-margin: 126px;
	x-lvl-3-format: "<x>";
	x-lvl-3-text-indent: -24px;
	x-lvl-3-type: bullet001;
}
rh-list.MSWordList23 {
	x-level-count: 1;
	x-lvl-1-text-indent: -24px;
	x-lvl-1-type: decimal;
	x-lvl-1-format: "<x>.";
}
rh-list.MSWordList22 {
	x-level-count: 1;
	x-lvl-1-text-indent: -24px;
	x-lvl-1-type: bullet002;
	x-lvl-1-format: "<x>";
}
rh-list.MSWordList21 {
	x-level-count: 1;
	x-lvl-1-text-indent: -24px;
	x-lvl-1-type: bullet002;
	x-lvl-1-format: "<x>";
}
rh-list.MSWordList20 {
	x-level-count: 1;
	x-lvl-1-text-indent: -24px;
	x-lvl-1-type: decimal;
	x-lvl-1-format: "<x>.";
}
rh-list.MSWordList19 {
	x-level-count: 3;
	x-lvl-1-text-indent: -24px;
	x-lvl-1-type: bullet002;
	x-lvl-1-format: "<x>";
	x-lvl-2-format: "<x>";
	x-lvl-2-text-indent: -24px;
	x-lvl-2-type: bullet002;
	x-lvl-3-format: "<x>";
	x-lvl-3-text-indent: -12px;
	x-lvl-3-type: bullet002;
}
rh-list.MSWordList18 {
	x-level-count: 2;
	x-lvl-1-text-indent: -24px;
	x-lvl-1-margin: 144px;
	x-lvl-1-type: bullet001;
	x-lvl-1-format: "<x>";
	x-lvl-2-format: "<x>";
	x-lvl-2-text-indent: -24px;
	x-lvl-2-type: bullet004;
	x-lvl-2-margin: 192px;
}
rh-list.MSWordList17 {
	x-level-count: 1;
	x-lvl-1-text-indent: -24px;
	x-lvl-1-type: decimal;
	x-lvl-1-format: "<x>.";
}
rh-list.MSWordList16 {
	x-level-count: 1;
	x-lvl-1-text-indent: -24px;
	x-lvl-1-margin: 72px;
	x-lvl-1-type: bullet001;
	x-lvl-1-format: "<x>";
}
rh-list.MSWordList33 {
	x-level-count: 1;
	x-lvl-1-text-indent: -24px;
	x-lvl-1-type: bullet002;
	x-lvl-1-format: "<x>";
}
rh-list.MSWordList32 {
	x-level-count: 1;
	x-lvl-1-text-indent: -24px;
	x-lvl-1-type: bullet002;
	x-lvl-1-format: "<x>";
}
rh-seq.bullet002 {
	x-count: 1;
	x-1: ;
	x-font: Symbol;
}
rh-seq.bullet003 {
	x-count: 1;
	x-1: ;
	x-font: Wingdings;
}
rh-seq.bullet004 {
	x-count: 1;
	x-1: o;
	x-font: Courier New;
}
rh-seq.bullet001 {
	x-count: 1;
	x-1: ;
	x-font: Wingdings;
}
